body {
  font-family: cursive;
  padding: 0px;
  margin:0px;
  border-top: 0px;
  background: lightyellow;
}
h1{
  margin-top: 0px;
  text-shadow: 5px 10px 10px black;
  font-size: 50px;
}
h2{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-shadow: 1px 3px 3px red;
}
ul {
text-align: center;
margin: 0px;
}
li{
  display: inline-block;
}
