@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: cursive;
  padding: 0px;
  margin:0px;
  border-top: 0px;
  background: lightyellow;
}

.head{
  width:100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 127px;
}
h1{
  margin-top: 0px;
  text-shadow: 5px 10px 10px black;
  font-size: 50px;
}
.logo{
  float:left;
}
.header {
  display: block;
  margin: auto;
  background-color: #4CAF50;
  color: white;
  width: 100%;
  height: 75px;
  text-align: center;
}
.topnav {
  display:block;
  margin: auto;
  font-size: 30px;
  font : white;
  text-align: center;
  width: 100%;
  height: 8vh;
  background-color: #333;
}
.topnav ul {
text-align: center;
margin: 0px;
}
.topnav ul li{
  display: inline-block;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    /* margin-bottom: 20px; */
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.container-1 {
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
}
.col-1{
  flex: 1;
}
.col-2{
  flex:1;
}
.col-3{
  flex: 1;
}

h2{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-shadow: 1px 3px 3px red;
}
.container-2{
  padding-top: 110px;
  padding-bottom: 78px;
}
.hero-text {
  text-align: center;
}
.hero-image {
  text-align: center;

}


.container-3 {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 90px
}
.column-one {
    flex: 1;
}
.row-two {
  margin-bottom: 10px;
  text-align: center;
}



#social_icon_footer {
  text-align: center;
  padding: 14px 0;
}
#social_icon_footer .social:hover {
  transform: scale(1.1);
}

#social_icon_footer .social {
  transform: scale(0.8);
  transition-duration: 0.5s;
}
#social_icon_footer a {
  color: #333;
}
#social_icon_footer #social-fb:hover {
  color: #3B5998;
}
#social_icon_footer #social-tw:hover {
  color: #4099FF;
}
#social_icon_footer #social-gp:hover {
  color: #d34836;
}
#social_icon_footer #social-em:hover {
  color: #f39c12;
}






@media(max-width: 595px){
  .topnav{
    height: 8vh;
}
  .topnav ul{
    text-align: left;
  }

  .container-1{
    display: inline;
    text-align: center;

}
.col-1{
  padding-top: 120px;

}

.column-1 img{
  height: 450px;
}
  .footer{
    padding-right: 10px;
  }
}


@media(max-width: 380px){
  .topnav{
    height: 8vh;
}
  .topnav ul{
    text-align: left;
  }

  .container-1{
    display: inline;
    text-align: center;

}
.col-1{
  padding-top: 120px;

}

.column-1 img{
  height: 450px;
}
  .footer{
    padding-right: 10px;
  }
}
